{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "plugins": ["prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "prettier/prettier": "error",
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "no-unused-vars": "warn",
    "@typescript-eslint/no-non-null-assertion": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-duplicate-imports": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-duplicate-imports": "warn",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "error",
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-debugger": "warn",
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-var": "error",
    "import/no-self-import": "error",
    "import/no-duplicates": "error"
  }
}
